.container-wrapper {
  width: 100%;
}

.container {
  height: auto;
  position: relative;
}

.container-bg {
  max-height: 100vh;
  max-width: 100%;
}

.container button.modal-btn {
  position: absolute;
  top: 12.5%;
  left: 5.4%;
  background-color: #4caf50;
  white-space: nowrap;
  font-size: 2vmin;
  width: auto;
  height: 4vmin;
}

.modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-head > div {
  border-right: solid 1px #ececec;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-head > div:last-child {
  border: none;
}

.modal-head > div .power_btn {
  width: 70px;
}

.modal-head > div .cooling_status_img {
  width: 70px;
}

.modal-head > div.right > a {
  text-align: center;
}

.modal-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.modal-content > div {
  flex: 1;
  border-right: solid 1px #ececec;
}

.modal-content > div.left {
  display: flex;
  flex-direction: row;
}

.modal-content > div.left .modes {
  margin-right: 10px;
}

.modal-content > div.left .modes .mode-item {
  width: 40px;
  height: 60px;
  background-color: #ddd;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-content > div.left .modes .mode-item.active {
  background-color: #6ec519;
}

.modal-content > div.left .modes .mode-item:last-child {
  margin-bottom: 0;
}

.modal-content > div.left .mode-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content .arrow {
  width: 25px;
}

.modal-content > div.left .mode-controls .auto-status {
  font-size: 38px;
  color: #6ec519;
  font-weight: 600;
}
