.container-wrapper {
  width: 100%;
}

.container {
  height: auto;
  position: relative;
}

.container-bg {
  max-height: 100vh;
  max-width: 100%;
}

.container .modal-btn-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.container .modal-btn-container > .title {
  text-align: center;
  background-color: bisque;
  opacity: 0.9;
  border: solid 2px #000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.6vmin;
}

.container button.modal-btn {
  opacity: 0.9;
  background-color: #4caf50;
  white-space: nowrap;
  font-size: 1.4vmin;
  width: auto;
  height: 4vmin;
  border: solid 2px #000;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-head > div {
  border-right: solid 1px #ececec;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-head > div:last-child {
  border: none;
}

.modal-head > div .power_btn {
  width: 70px;
}

.modal-head > div .cooling_status_img {
  width: 70px;
}

.modal-head > div.right > a {
  text-align: center;
}

.modal-content {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.modal-content > div {
  flex: 1;
  border-right: solid 1px #ececec;
}

.modal-content > div:last-child {
  border: none;
}

.modal-content > div.left {
  display: flex;
  flex-direction: row;
}

.modal-content > div.left .modes {
  margin-right: 10px;
}

.modal-content > div.left .modes .mode-item {
  width: 40px;
  height: 32.3%;
  background-color: #ddd;
  margin-bottom: 4px;
}

.modal-content > div.left .modes .mode-item.active {
  background-color: #34c8fa;
}

.modal-content > div.left .modes .mode-item:last-child {
  margin-bottom: 0;
}

.modal-content > div.left .mode-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content .arrow {
  width: 25px;
}

.modal-content > div.left .mode-controls .auto-status {
  font-size: 38px;
  color: #6ec519;
  font-weight: 600;
}

.modal-content > div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content > div.center > img {
  width: 70px;
}

.modal-content > div.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-content > div.right > .temprature-set {
  display: flex;
  flex-direction: column;
}

.modal-content > div.right > .temprature-set .temprature-set-item {
  width: 50px;
  height: 12px;
  margin-bottom: 2px;
  background-color: lightgrey;
  line-height: 14px;
}

.modal-content > div.right > .temprature-set .temprature-set-item:last-child {
  margin-bottom: 0;
}

.modal-content > div.right > .temprature-set .temprature-set-item.active {
  background-color: #34c7f9;
}

.modal-content > div.right > .temprature-set-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.modal-content > div.right > .temprature-set-controls .temprature-set-status {
  font-size: 22px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
